@import '../../../styles/variables';

.affpro {
	&__wrapper {
		display: flex;
		overflow: hidden;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 60px;
		width: 100%;
		height: 100%;
		border: 1px solid $cPageBorder;
		border-radius: 25px 25px 0px 0px;
		background-color: $cDark;


		@include fromTablet {
			gap: 120px;
		}

		@include mobile {
			gap: 20px;
		}
	}

	&__navigation {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 12px 80px;

		@include mobile {
			padding: 12px 20px;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
		color: $w7Transparent;
		font-family: $fontDefaultMedium;
		font-style: italic;
		font-weight: 500;
		font-size: 14px;
		line-height: 150%;

		&-main-svg {
			width: 78px;
			height: 25px;
		}

		&-svg {
			width: 20px;
			height: 16px;
		}
	}

	&__header {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;
		height: 60vh;
		width: 100%;
		padding: 0 60px;

		@include minLarge {
			justify-content: center;
		}

		&-img {
			position: absolute;
			top: 0;
			left: -227px;
			background-image: url('../../../assets/images/affpro/page-header-image.svg');
			width: max-content;
			width: 917px;
			height: 60vh;
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;

			@include minLarge {
				position: relative;
			}
		}

		&-info {
			display: flex;
			flex-direction: column;
			gap: 24px;
			width: 50%;

			@include minLarge {
				padding: 200px;
			}
		}

		&-link {
			display: flex;
			align-items: center;
			gap: 12px;
			text-transform: uppercase;
			font-family: $fontMainBold;
			font-style: normal;
			font-weight: 700;
			font-size: 38px;
			line-height: 40px;
			letter-spacing: 0.03em;
		}

		&-svg {
			width: 36px;
			height: 26px;
		}

		&-description {
			font-family: $fontDefaultLight;
			font-weight: 400;
			font-size: 18px;
			line-height: 25px;
			color: $w4Transparent;
		}

		&-list {
			display: flex;
			flex-wrap: wrap;
			gap: 6px;
		}

		&-list-item {
			padding: 6px 12px;
			background: $cPageBorder;
			border-radius: 8px;
			font-family: $fontDefaultMedium;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 15px;

			&:first-child {
				color: $cGreen;
			}
		}

		&-behance {
			display: flex;
			align-items: center;
			gap: 10px;
			font-family: $fontDefaultMedium;
			font-weight: 500;
			font-size: 18px;
			line-height: 100%;
			cursor: pointer;

			&-svg {
				width: 24px;
				height: 16px;
			}
		}
	}

	&__animation {
		display: flex;
		align-items: center;
		gap: 15px;
		font-weight: $fontBaiJamjureeLightItalic;
		padding-right: 20px;
		font-style: italic;
		font-weight: 300;
		font-size: 18px;
		line-height: 24px;
		
		&-img {
			height: 50px;
			width: 50px;
		}

		&-svg {
			width: 100px;
			height: 30px;
		}
	}

	&__stack {
		display: flex;
		flex-direction: column;
		gap: 30px;
		width: calc(100% - 120px);
		background: $cThirdBackgroundColor;
		border: 1px solid rgba(255, 255, 255, 0.2);
		border-radius: 8px;
		padding: 40px;

		@include tablet {
			width: calc(100% - 100px);
			gap: 12px;
			padding: 18px;
		}

		@include mobile {
			width: calc(100% - 40px);
			gap: 12px;
			padding: 18px;
		}

		&-titles {
			display: flex;
			gap: 10px;
			cursor: pointer;

			@include mobile {
				justify-content: space-between;
			}
		}

		&-title {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 8px 16px;
			font-family: $fontDefaultMedium;
			font-style: italic;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			border: 1px solid rgba(255, 255, 255, 0.06);
			border-radius: 8px;
			color: rgba(255, 255, 255, 0.5);

			&.active-stack-title {
				color: $cGreen;
				background: rgba(65, 181, 111, 0.2);
			}

			@include mobile {
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 14px;
				line-height: 17px;
				padding: 8px 10px;
				width: 100%;
			}
		}

		&-subtitles {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;

			@include mobile {
				gap: 10px;
			}
		}

		&-subtitle {
			padding: 20px;
			font-family: $fontDefaultMedium;
			font-weight: 500;
			font-size: 16px;
			line-height: 100%;
			border: 1px solid rgba(255, 255, 255, 0.2);
			border-radius: 8px;
			color: rgba(255, 255, 255, 0.8);

			@include mobile {
				display: flex;
				justify-content: center;
				padding: 30px;
				width: 100%;
			}

			@include minLarge {
				padding: 30px 60px;
			}
		}
	}

	&__about {
		display: flex;
		align-items: center;
		gap: 70px;
		width: calc(100% - 120px);
		height: 70vh;

		@include tablet {
			width: calc(100% - 80px);
			gap: 12px;
			padding: 18px;
			height: fit-content;
		}

		@include mobile {
			width: calc(100% - 40px);
			gap: 12px;
			padding: 18px;
		}

		&-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 20px;
			width: 50%;
			height: 100%;

			@include fromTablet {
				transform: translateX(-120%);
			}

			@include tablet {
				width: 100%;
			}
		}

		&-title {
			font-family: $fontDefaultRegular;
			font-size: 42px;
			line-height: 50px;
			text-transform: uppercase;

			@include mobile {
				font-size: 24px;
				line-height: 29px;
			}


			& span:first-child {
				color: $w4Transparent;
				opacity: 0.8;
				margin-right: 8px;
			}
		}

		&-description {
			font-family: $fontDefaultRegular;
			font-size: 16px;
			line-height: 25px;
			color: $w4Transparent;

			@include mobile {
				line-height: 19px;
			}
		}

		&-video {
			position: relative;
			width: 50%;
			height: fit-content;
			border-radius: 32px 0 0 32px;

			@include tablet {
				display: none;
			}


			video {
				width: 100%;
				height: 100%;
				// object-fit: cover;
				border-radius: 32px;
			}

			@include fromTablet {
				transform: translateX(120%);
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 40px;
				background: linear-gradient(to left, #101011, rgba(9, 6, 28, 0));
			}

			&::before {
				content: '';
				position: absolute;
				top: 0;
				right: left;
				height: 100%;
				width: 40px;
				background: linear-gradient(to right, #101011, rgba(9, 6, 28, 0));
			}
		}
	}

	&__content {
		display: grid;
		width: calc(100% - 120px);
		height: fit-content;
		grid-template-rows: 1fr 1.5fr;
		margin-bottom: 200px;
		gap: 20px;

		@include tablet {
			width: calc(100% - 80px);
			gap: 12px;
			padding: 18px;
		}

		@include mobile {
			width: calc(100% - 40px);
			gap: 12px;
			padding: 18px;
		}

		&_top {
			display: grid;
			grid-template-columns: 1fr 3fr;
			gap: 20px;
			height: 100%;

			&-logo {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&-logo-svg {
				width: 90%;
			}

			&-colors {
				display: flex;
				align-items: center;
				justify-content: center;
				overflow: hidden;
			}

			&-colors-block {
				display: flex;
				align-items: center;
				gap: 60px;
				height: 520px;

				@include fromTablet {
					transform: translateX(140%);
				}

				@include minStandard {
					gap: 30px;
				}
			}

			&-color-block {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 10px;
				color: rgba(255, 255, 255, 0.5);
			}

			&-color {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 64px;
				height: 64px;
				border: 1px solid rgba(255, 255, 255, 0.14);
				border-radius: 6px;

				@include minStandard {
					width: 150px;
					height: 150px;
				}
			}
		}

		&_bottom {
			display: flex;
			gap: 20px;

			&-info-block {
				display: grid;
				grid-template-rows: 1fr 1fr;
				width: 50%;
				gap: 20px;
			}

			&-info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 14px;
				padding: 30px 40px;
			}

			&-info-title {
				font-family: $fontMontseratBold;
				font-size: 30px;
				line-height: 37px;
				color: #fff;
			}

			&-info-description {
				color: rgba(255, 255, 255, 0.6);
				font-family: $fontOverpassRegular;
				font-size: 14px;
				line-height: 25px;

				@include smallLaptop {
					line-height: 16px;
				}
			}

			&-images {
				display: flex;
				gap: 20px;
				width: 100%;
				height: 100%;
			}

			&-image-block {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				min-height: 100%;

				@include mobile {
					padding: 50px;
					min-width: 100%;
				}
			}

			&-first-img {
				width: 320px;
				height: 200px;
			}

			&-second-img {
				width: 250px;
				height: 250px;
			}

			&-devices-block {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50%;
			}

			&-devices-img {
				width: 100%;
				// background-color: red;
			}
		}
	}
}

.affpro-bottom-block {
	background: rgba(255, 255, 255, 0.05);
}

.affpro-tang {
	background: #2757C1;
	color: #fff;
}

.affpro-rich {
	background: #08071B;
	color: #fff;
}

.affpro-penn {
	background: #121040;
	color: #fff;
}

.affpro-delft {
	background: #232C67;
	color: #fff;
}

.affpro-light-delft {
	background: #2E387A;
	color: #fff;
}

.affpro-marian {
	background: #36418E;
	color: #fff;
}

.affpro__top-logo-svg {
	width: 132px;
	height: 43px;
}

.affpro-animate-in {
	transform: translateX(0);
	opacity: 1;
	transition: transform 1s ease-out, opacity 1s ease-out;
}
