@import '../../../../styles/variables';

.schema {
  &__square {
    &-block {
      position: relative;
      display: flex;
      padding: 0 30px;
      justify-content: center;
      align-items: center;
      z-index: 2;
      border: 1px solid rgba(65, 181, 111, 0.6);
    }

    &-title {
      text-align: center;
      font-weight: 500;
      font-size: 16px;
    }

    &-svg {
      position: absolute;
      z-index: 3;

      // &.top {
      //   top: -4px;
      // }

      // &.right {
      //   right: -4px;
      // }

      // &.bottom {
      //   bottom: -4px;
      // }

      // &.left {
      //   left: -4px;
      // }
    }
  }
}
