@import '../../styles/variables.scss';

.wrapper--idea {
	height: calc(100% - 100px - 4rem);
}


.nav-link--underline {
	display: inline-block;
	margin-top: auto;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 2px;
		background-color: $blue-main;
		z-index: -1;
		transition: transform 0.4s ease;
		transform: scale(0, 1);
	}

	&:hover::after {
		transform: scale(0, 1);
		height: 2px;
	}

	&:hover::before {
		transform: scale(1, 1);
	}
}

.idea-section {
	background: $dark;
	padding: 70px;
	display: flex;
	height: inherit;
}

.idea-info {
	max-width: 600px;
	width: 100%;
	overflow: hidden;
	flex-shrink: 0;
	margin-right: 40px;
}

.idea-text {
	height: 100%;
	overflow: auto;
	padding-right: 30px;

	&::-webkit-scrollbar {
		width: 2px;
	}

	&::-webkit-scrollbar-track {
		background: $bg-color;
	}
}

// Slider default style
.slider-container {
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-top: -110px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider-js {
	display: flex;
	max-height: 400px;
	height: calc(100% - 120px);
	transition: transform .4s ease-in;
}

.slider-item-js {
	width: 100%;
	height: 100%;
	flex-shrink: 0;

	img {
		object-fit: cover;
		width: 100%;
		height: inherit;
	}
}

.slides-number {
	font-size: 10px;
	position: absolute;
	top: 12px;
	right: 12px;
}

.slider-actions {
	display: flex;
	align-items: center;
	padding: 5px;
	align-self: flex-end;
	margin-top: 20px;
	margin-bottom: 30px;
}

.slider-btn-js {
	width: 15px;
	height: 15px;
	border: 2px solid $blue-main;
	border-width: 2px 2px 0 0;
	opacity: .5;

	&:hover {
		opacity: 1;
	}

	&-next {
		transform: rotate(45deg);
	}

	&-prev {
		transform: rotate(-135deg);
		margin-right: 20px;
	}
}