@import '../../../../styles/variables';

.schema {
  &__connecting {
    &-wrapper {
      position: relative;
    }
    &-block {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 16px;
      border: 1.5px solid rgba(255, 255, 255, 0.2);
    }
  }
}

.schema__conecting-block--left {
  left: 50px;
  margin-left: -81px;
}

.schema__conecting-block--right {
  left: 50%;
  margin-right: -81px;
}
