.development {
  &__content {
    display: flex;
  }

  &__content-schema {
    position: relative;
    width: 700px;
  }
}

.content-schema {
  &__connetcion-wrapper {
    top: 80px;
    right: 100px;
    position: absolute;
  }
}
