@import '../../../../styles/variables';

.affpro {
	&__tablet-content {
		display: flex;
		flex-direction: column;
		width: calc(100vw - 120px);
		height: fit-content;
		margin-bottom: 100px;
		gap: 10px;

		@include tablet {
			width: calc(100vw - 80px);
			gap: 12px;
			padding: 18px;
		}

		@include mobile {
			width: 100%;
			gap: 12px;
			padding: 18px;
		}

		&_top {
			display: grid;
			grid-template-columns: 1fr 3fr;
			gap: 10px;
			height: 100%;

			@include mobile {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}

			&-logo {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 230px;
				width: 100%;

				&-svg {
					width: 72px;
					height: 42px;
				}
			}

			&-colors {
				display: flex;
				align-items: center;
				justify-content: space-around;
				width: 100%;

				@include smallLaptop {
					padding: 30px;
					gap: 10px;
					flex-wrap: wrap;
				}
			}

			&-color-block {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 40px 0;
				gap: 20px;
				color: rgba(255, 255, 255, 0.5);

				@include tablet {
					padding: 20px 0;
				}
			}

			&-color {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50px;
				height: 50px;
				border: 1px solid rgba(255, 255, 255, 0.14);
				border-radius: 6px;

				&-title {
					font-size: 14px;

					@include mobileMiddle {
						font-size: 16px;
					}
				}

				@include mobileMiddle {
					width: 64px;
					height: 64px;
				}


			}

			&-img {
				background-image: url('../../../../assets/images/moderna/moderna-bottom-1.jpg');
				height: 100%;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;

				@include mobile {
					width: 50%;
				}
			}

			&-mobile {
				width: 100%;
				height: 50%;
				display: flex;
			}
		}

		&_bottom {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;

			&-info-block {
				display: flex;
				flex-direction: column;
				width: 100%;
				gap: 10px;
			}

			&-info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: 14px;
				padding: 60px 40px;
				height: fit-content;

				@include mobile {
					padding: 20px;
				}
			}

			&-info-title {
				font-family: $fontWallpoetRegular;
				font-size: 30px;
				line-height: 37px;
				color: #fff;
			}

			&-info-description {
				color: rgba(255, 255, 255, 0.6);
				font-family: $fontBaiJamjuree;
				font-size: 14px;
				line-height: 25px;

				@include mobile {
					line-height: 16px;
				}
			}

			&-images {
				display: flex;
				justify-content: center;
				gap: 20px;
				width: 100%;
			}

			&-image-block {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				min-height: 100%;

				@include mobile {
					padding: 50px;
					min-width: 100%;
				}
			}

			&-first-img {
				width: 200px;
				// height: 228px;
			}

			&-second-img {
				width: 193px;
				height: 198px;
			}

			&-devices-block {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				padding: 50px;

				@include mobile {
					width: 100%;
					padding: 50px;
				}

			}

			&-devices-img {
				@include mobile {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}

.affpro__tablet-content_bottom-image-block {
	width: 50%;
}

.affpro__content-top-logo-svg {
	width: 132px;
	height: 43px;
}
